<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<style>
  form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
  }
  label { text-align: center;}
  .theader { text-align: center; font-weight:bold; font-size: larger;}
</style>
</head>
<body>
	<h1>Accueil</h1>
	<a href="/filmotheque">Liste des films</a>
	
	<form th:action="@{/accueil}" th:object=${film} method="post">
	  <label for="idInput">Id : </label>
	  <input type="number" th:field="*{id}" id="idInput" />
	  <label for="nomInput">Nom : </label>
	  <input type="text" th:field="*{nom}" id="nomInput" />
	  <label for="anneeInput">Année : </label>
	  <input type="number" th:field="*{annee}" id="anneeInput" />
	  <label for="dureeInput">Durée : </label>
	  <input type="number" th:field="*{duree}" id="dureeInput" />
	  <label for="synopsisInput">Durée : </label>
	  <input type="text" th:field="*{synopsis}" id="synopsisInput" />
	  
	  <label for="genreInput" >Genre</label>
	  <select th:field="*{genre}" required>
		  	<option th:each="genre: ${@genres}" 
		  	th:value="${genre.id}" th:text="${genre.libelle}"></option>
	  </select>
	  
	  <button type="submit">Valider</button>
	</form>
	
	<h1>Liste des films :</h1>
	<table>
		<tr class="theader">
			<td>id</td><td>nom</td><td>annee</td><td>duree</td><td>Synopsis</td><td>Genre</td>
		</tr>
		<tr th:each="film: ${films}">
			<td th:text="${film.id}" />
			<td th:text="${film.nom}" />
			<td th:text="${film.annee}" />
			<td th:text="${film.duree}" />
			<td th:text="${film.synopsis}" />
	        <td th:text="${film.genre.libelle}"></td>
		</tr>
	</table>
</body>
</html>